/*  your css code here. If applicable */
body{
	background-color:#f5f5f5;
}
.header{
	background-color:#011e29;
	text-align:center;
	color:white;
	padding:10px;
}
.eg{
	display:flex;
	justify-content:center;
	align-items:flex-start;
}
.latest-news-section{
	padding:10px;
	width:200px;
	background-color:white;
	border-radius:20px;
	text-align:center;
}
.article{
	padding:10px;
	width:200px;
	background-color:white;
	border-radius:20px;
	text-align:center;
}
.pictorial-news-section{
	padding:10px;
	width:200px;
	background-color:white;
	border-radius:20px;
	text-align:center;
}